{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="row mt-5">
	<div class="col d-flex justify-content-center">
		<form action="" method="POST">
		{% csrf_token %}
		  <div class="mb-3">
		    <label for="exampleInputUsername" class="form-label">Email address</label>
		    <input type="Username" class="form-control" name="username" aria-describedby="usernameHelp">
		  </div>
		  <div class="mb-3">
		    <label for="exampleInputPassword1" class="form-label">Password</label>
		    <input type="password" class="form-control" name="password">
		  </div>
		  <button type="submit" class="btn btn-primary">Log in</button>
			<a href="/register" class="btn btn-secondary">Register</a>
		</form>
	</div>
</div>
{% endblock content %}